.header {
    position: fixed;
    width: 100%;
    background-color: #eee;
    height: 9rem;
    z-index: 10;
}

.header-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    box-sizing: border-box;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo__img {
    width: 5rem;
    height: 5rem;
    border-radius: .5rem;
    margin-right: 1.6rem;
}

.header-logo__name {
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.header-link {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 2.2rem 3rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    font-family: "Source Sans Pro";
    font-weight: bold;
    transition: color .5s;
}

.header-link:hover {
    color: #0062b9;
}