.header {
    width: 100%;
    background-color: #eee;
    position: fixed;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    margin: auto 0;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header-logo-img {
    width: 5rem;
    height: 5rem;
    border-radius: .5rem;
    margin-right: 1.6rem;
}

.header-logo-name {
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.header-link {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 2.2rem 3rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    font-family: "Source Sans Pro";
    font-weight: bold;
}